/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*
orange : #ff6700
*/

body {
  font-family: Montserrat, sans-serif;
  background: #d4d4d4;
  color: #ffffff;
  min-height: 100vh;
}

/* header */
.header {
  background: #d4d4d4;
  position: relative;
  /*margin: auto;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 0.5rem;
  z-index: 1;
  border-bottom-color:#ff652f;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
.header a {
  text-decoration: none;
  color: #ffffff;
}
.header ul {
  list-style: none;
}
.logo {
  max-width: 40vw;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
  background-color: #ff652f;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu,
.menu-right {
  position: absolute;
  background: #d4d4d4;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-menu .content {
  background: #122331;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.blog .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  border-left: 1px solid #1a3246;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}
.menu-items li:hover .mega-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.content .col .read-more:hover {
  color: #ff652f;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}

/* NEW STUFF */

#slideshow {
  width: 100vw;
  height: clamp(30vh, 35vh, 40vh);
  position: relative;
}
#slideshow > img {
  position: absolute;
  top: 0px;
  left: 0px;
}
#leader-wrapper {
  position: relative;
}
#leader {
  position: absolute;
  top: clamp(-30vh, -35vh, -40vh);
  width: 50vw;
  background: rgba(128,128,128, 0.75);
  padding: 10px 10px 20px 20px;
}
#leader h1 {
  padding-bottom: 20px;
}
#leader h3 {
  /* font-weight: 700; */
  line-height: 1.5;
  padding: 10px 0px;
}
.main-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: min(96%, 960px);
  margin-left: 20px;
}
.main-content h1,h2 {
  color: #676767;
  font-weight: 700;
  margin-bottom: 1rem;
}
.main-content p {
  font-weight: 700;
  margin-bottom: 20px;
}

.flex-content {
  display: grid;
  width: 100vw;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
}
.product-card {
  margin: 10px;
  background-color: #c4c4c4;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: clamp(300px, 80vw, 350px);
}
.product-card > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 20px;
  min-height: 225px;
}
.card-body > p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
.card-body > button {
  margin-top: 30px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.card-body > button:hover {
  color: #ff652f;
}

.footer {
  margin: 20px 0px;
  padding: 20px 10px;
  border-top-color:#ff652f;
  border-top-width: 3px;
  border-top-style: solid;
  background-color: #c4c4c4;
}

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #ffffff;
}

/* MEDIA QUERY */
@media screen and (max-width: 970px), (max-height: 800px) {
  .menu-btn {
    display: flex;
  }
  .header {
    position: sticky;
    top: 0;
    max-height: fit-content;
  }
  .header .menu-items {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    top: 100%;
    right: 0;
    background: #d4d4d4;
    display: block;
    padding: 1rem;
    line-height: 2rem;
    overflow-y: auto;
    transform: translateY(-160vh);
    transition: transform 0.3s ease-out;
  }
  .logo {
    max-height: 10vh;
  }
  #leader-wrapper {
    position: static;
  }
  #leader {
    position: static;
    width: 100vw;
    padding: 10px 0px;
  }
  #leader h1 {
    text-align: center;
    background-color: #313131;
  }
  #leader h3 {
    padding: 10px 10px;
  }
  .menu-items.open {
    transform: translateY(0);
  }

  .menu-items li {
    margin: 5px 10px;
    padding: 0.25rem 0.5rem;
  }
  .menu-items li a {
    padding: 0 1rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .menu-items li:hover {
    background-color: transparent;
  }

  /* DROPDOWN, MEGA MENUS */
  .menu-items .dropdown-menu,
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    padding-left: 1rem;
    width: 100%;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleY(1);
  }

  .expandable li {
    margin: 0;
  }
  .expandable li a {
    font-size: 1rem;
  }

  .mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
  }
  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
  .content .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
  }
  .col .mega-links li {
    margin: 0;
  }
}

@media screen and (max-width: 810px) {
  .blog .content {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5vh;
  }
  .blog .content div {
    margin-bottom: 5vh;
  }
}
